[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire
[submodule "FDSoundActivatedRecorder"]
	path = FDSoundActivatedRecorder
	url = https://github.com/fulldecent/FDSoundActivatedRecorder
